body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  line-height: 1.6;
}
.background img {
  display: block;
  filter: brightness(40%);
}
h1 {
  font-family: "Times New Roman", Times, serif;
  color: chocolate;
  font-size: x-large;
}
